@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,600);
@import url("./reset.scss");
@import url("./variables/global.scss");
@import url("./themes/normal.scss");
@import url("./themes/dark.scss");

body {
  font: var(--font-s);
  color: var(--primary-color);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 100vh;
}

.icon {
  color: var(--icon-color);
}
